$midnight-blue:   #036;
$nebula:          #d2e1dd;
$iron:            #dadbdf;
$venus:           #998099;
$dawn-pink:       #f2ece4;

$primary-color:   $iron;
$secondary-color: $venus;
$tertiary-color:  $dawn-pink;
